{% extends 'base.html' %}

{% block content %}
    {% load date_tags %}
    <div class="container" style="text-align: center; font-weight: bold;">
        <div class="row">
            <div class="col-xs-4" style="padding: 20px">
                <a href="{% url 'history' %}">Historic</a>
            </div>
            <div class="col-xs-4" style="padding: 20px">
                <a href="{% url 'logout' %}">Logout</a>
            </div>
            <div class="col-xs-4" style="padding: 20px">
                <a href="{% url 'add_task' %}">Add task</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <table class="table table-condensed">
                    <tr style="">
                        <td>Todo</td>
                    </tr>
                    {% for task in todo %}
                        {% if task.priority < 5 %}
                            <tr style="background-color: #9acfea">
                                {% elif task.priority < 10 %}
                            <tr style="background-color: #f0ad4e">
                                {% else %}
                            <tr style="background-color: #ff670f">
                        {% endif %}
                    <td>
                        <div class="row">
                            <div class="col-xs-2">
                                <a href="{% url 'change' id_task=task.id list_number=4 %}"><span class="glyphicon glyphicon-arrow-down">
                            </span></a>
                            </div>
                            <div class="col-xs-8">
                                <a href="{% url 'update_task' task.id %}">
                                    {% if task.coment != None and task.coment != "" %}
                                        <span class="glyphicon glyphicon-comment"></span>
                                    {% endif %}
                                    {{ task.text }}
                                </a> {{ task.date_end|nb_days }}
                            </div>
                            <div class="col-xs-2">
                                <a href="{% url 'change' id_task=task.id list_number=2 %}"><span class="glyphicon glyphicon-arrow-right"></span></a>
                            </div>
                        </div>
                    </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-xs-4">
                <table class="table table-condensed">
                    <tr>
                        <td>In progress</td>
                    </tr>
                    {% for task in progress %}
                        <tr style="background-color: yellow">
                            <td>
                                <div class="row">
                                    <div class="col-xs-2">
                                        <a href="{% url 'change' id_task=task.id list_number=1 %}"><span class="glyphicon glyphicon-arrow-left"></span></a>
                                    </div>
                                    <div class="col-xs-8">
                                        {% if task.coment != None and task.coment != "" %}
                                            <span class="glyphicon glyphicon-comment"></span>
                                        {% endif %}
                                        <a href="{% url 'update_task' task.id %}">{{ task.text }}</a> {{ task.date_end|nb_days }}
                                    </div>
                                    <div class="col-xs-2">
                                        <a href="{% url 'change' id_task=task.id list_number=3 %}"><span class="glyphicon glyphicon-arrow-right"></span></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-xs-4">
                <table class="table table-condensed">
                    <tr>
                        <td>Done</td>
                    </tr>
                    {% for task in done %}
                        <tr style="font-weight: bold;text-align: center; background-color: #1CA347">
                            <td>
                                <div class="row">
                                    <div class="col-xs-2">
                                        <a href="{% url 'change' id_task=task.id list_number=2 %}"><span class="glyphicon glyphicon-arrow-left"></span></a>
                                    </div>
                                    <div class="col-xs-8">
                                        {% if task.coment != None and task.coment != "" %}
                                            <span class="glyphicon glyphicon-comment"></span>
                                        {% endif %}
                                        <del><a href="{% url 'update_task' task.id %}">{{ task.text }}</a></del> {{ task.date_end|nb_days }}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="row">
            <table class="table table-condensed">
                <tr>
                    <td>Backlog</td>
                </tr>
                {% for task in backlog %}
                    {% if task.priority < 5 %}
                        <tr style="background-color: #9acfea">
                            {% elif task.priority < 10 %}
                        <tr style="background-color: #f0ad4e">
                            {% else %}
                        <tr style="background-color: #ff670f">
                    {% endif %}
                <td>
                    <div class="row">
                        <div class="col-xs-2">
                        </div>
                        <div class="col-xs-8">
                            {% if task.coment != None and task.coment != "" %}
                                <span class="glyphicon glyphicon-comment"></span>
                            {% endif %}
                            <a href="{% url 'update_task' task.id %}">{{ task.text }}</a> {{ task.date_end|nb_days }}
                        </div>
                        <div class="col-xs-2">
                            <a href="{% url 'change' id_task=task.id list_number=1 %}"><span class="glyphicon glyphicon-arrow-up">
                            </span></a>
                        </div>
                    </div>
                </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}